@import "../style.css";

body{
    background-color: rgba(1, 34, 86, 0.789);
    margin: 0;

}


.title{
  max-width: 800px;
  width: 100%;
  text-align: left;
  color: var(--color-neutral-100);
}

.second_part{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.Lines{ 
    background-color: rgba(0, 0, 0, 0.225);
    color: var(--color-neutral-100);
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}



.first_part{
    color: var(--color-neutral-100);
    background-image:url(../../assets/images/image_people.png) ;
    padding: 1rem;
    text-align: center;

}

.h1{
    text-align: left;
}

.line-icon img {
    width: 28px;   /* taille plus petite */
    height: 28px;
}

.line-icon2{
    margin-left: auto;   /* pousse à droite */
}

.line-icon2 img{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
