    body{
        background-color: rgba(1, 34, 86, 0.789);
        margin: 0;
    
    }  

    .Lines{
        background-color: white;
        border-radius:  10px;   
    
    }

    .first_part{
        color: black;
        background-image:url(../../assets/images/image_people.png) ;
        padding: 1rem;
        text-align: center;
        
    }

    .h1{
        text-align: left;
    }