@import "../style.css";
@import "../Lines/Lines.css";
@import "../Lines/LinesMediaScreen.css";

body {
    background-color: rgba(1, 34, 86, 0.789);
    color: var(--color-neutral-100);
    margin: 0;
}

.first_part {
    min-height: 400px;
    position: relative;
    color: var(--color-neutral-100);
    background-image: url(../../assets/images/image_people.png);
    background-size: cover;
    background-position: center;
    z-index: -2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 4rem;
}
.first_part::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.first_part .logo-wrapper {
    justify-self: start;
    display: flex;
    gap: 1rem;
    align-items: center;
    span {font-size: 2.5em; font-weight: 900; line-height: 1.5ch}
}
.first_part .line-article {
    background-color: unset;
    max-width: 1024px;

    strong {
        font-size: 2.5em;
        line-height: 1.5ch;
        max-width: 25ch;
    }
    .line-icon {
        width: 175px; height: 150px;
        border-radius: unset;
    }
    .line-icon img { width: 100px; }
}



.second_part {
    padding-inline: 2rem;
    padding-block: 2rem;
}
.second_part > h2 {
    font-size: 3em;
    margin-bottom: 3rem;
}
.second_part .lines-wrapper {
    max-width: 1024px;
    margin: auto;
}

@media screen and (width <= 768px) {
    .first_part .line-article {
        flex-direction: column;
        .line-infos {flex-direction: column;}
        .line-bookmark {margin-top: 1rem;}
        .line-bookmark, .line-infos, .line-icon {align-self: start;}
        .line-infos strong {
            max-width: unset;
            max-height: unset;
            overflow: unset;
            text-overflow: unset;
        }
    }
}