@import "../style.css";

body {
    color: white;
    background-color: var(--color-secondary-1);
}
body .bg-blur {
    background-color: hsla(0, 0%, 0%, 50%);
    z-index: -1;
}


.main-header {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-block: 3rem;
    display: grid; gap: 1rem;
    place-items: center;
    align-items: start;
}
.main-header h1 {
    font-family: Pragmatica, sans-serif;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
}
.main-header em {
    font-family: "Great Vibes", sans-serif;
    font-style: italic;
    font-weight: 550;
    color: var(--color-secondary-1);
    background-color: var(--color-secondary-2);
    border-radius: 50px;
    padding: 0 0.5rem;
}
.main-header button {
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--color-secondary-2);
    font-weight: 900;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--color-neutral-100);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 200ms ease;
    &:hover {opacity: 0.9;}
}


.lines-container {
    background-color: var(--color-primary-1);
    margin-inline: 2rem; padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 32px;
    display: grid; gap: 2rem;
}

.lines-header {
    display: flex; gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
.lines-header nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.lines-header nav div {
    max-width: 500px;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex; gap: 1rem;
}

.lines-wrapper {
    border: 1px solid;
}

/**************COMPONENTS*****************/

.bg-map {
    object-fit: cover; object-position: center;
    z-index: -2;
}
.bg-position {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0; inset-inline: 0;
}

.btn-sort {
    padding-block: 0.5rem;
    padding-inline: 2rem;
    color: var(--color-neutral-100);
    background-color: var(--color-primary-2);
    border: none;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    word-break: keep-all;
    text-wrap: nowrap;
}
.btn-search {
    padding-block: 0.5rem;
    padding-inline: 3rem 1rem;
    color: var(--color-neutral-100);
    background-color: var(--color-primary-2);
    border: none;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    &::placeholder { color: var(--color-neutral-100)}

    &:before {
        content: "";
        display: inline-block;
        width: 32px; height: 32px;
        background: url(../../assets/icons/icon_search.svg) center;
    }
}