@import "../assets/fonts/pragmatica_extended/pragmatica_font.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&display=swap');

:root {
    --color-black: #000000;
    --color-primary-1: #26497F;
    --color-primary-2: #3399CC;
    --color-primary-3: #0083B5;
    --color-primary-4: #351A51;

    --color-secondary-1: #003366;
    --color-secondary-2: #66CCFF;
    --color-secondary-3: #B3D9FF;
    --color-secondary-4: #CCE6FF;

    --color-neutral-100: #FFFFFF;
    --color-neutral-200: #D9D9D9;
    --color-neutral-900: #000000;

    font-size: 16px;
    @media screen and (width <=1024px) { font-size: 14px; }
    @media screen and (width <= 768px) { font-size: 12px; }
    @media screen and (width <= 575px) { font-size: 10px; }
    font-family: "DM Sans", sans-serif;
}

.menu-hamburger {
    cursor: pointer;
    position: absolute;
    top: 15px; right: 20px;
    background-color: transparent;
    border: 1px solid var(--color-neutral-200);
    border-radius: 4px;
    display: inline-grid;
    place-content: center;
    @media screen and (width <= 575px) {
        svg {width: 24px; height: 24px;}
    }
}

.menu-container {
    transition: all ease-out 600ms;

    position: fixed;
    inset-block: 0;
    margin-right: 0;
    right: 0;

    @media screen                      { left: 65vw; }
    @media screen and (width <=1024px) { left: 55vw; }
    @media screen and (width <= 575px) { left: 0; }

    z-index: 2;
    padding: 2rem;
    background-color: var(--color-primary-4);
}
.menu-container header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex; align-items: center; gap: 1rem;
        font-size: 1.2em;
    }
    .menu-close {cursor: pointer;}
}
.menu-container nav {
    display: grid;
    place-content: center;
    margin-top: 8rem;
    text-align: center;
    font-size: 1.5em;

    ul {
        list-style: none; padding: 0; margin: 0;
        display: grid;
        gap: 4rem;
        text-transform: uppercase;
    }
    a {color: var(--color-neutral-100); text-decoration: unset;}
}

.bg-menu-blur {
    display: inline-block;
    position: fixed;
    inset: 0;
    width: 100%; height: 100%;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 50%);
}

.hidden {
    display: none;
}

.move-right {
    inset: unset;
    right: -999px;
    margin-right: -999px;
}