@import "../style.css";

body {
    margin: 0;
    padding: 0;
    color: var(--color-neutral-100);
    background-color: var(--color-secondary-1);
    min-height: 100vh;
}

.ma_partie {
    display: flex;
}

.cote_droit {
    flex: 1;
}

.cote_gauche {
    flex: 1;
    display: grid;
    place-items: center;
    font-size: 1.2rem;

    ul {
        display: grid;
        row-gap: 1.5rem;
        margin: 4rem 4rem 4rem 1rem;
    }
}

.cote_droit img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    background-color: var(--color-primary-2);
    text-align: center;
    padding: 25px;
}

.contact h2 {
    font-size: 40px;
    margin: 0;
}
.contact p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.bas_de_page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;

}
.bas_de_page h3 {
    text-align: center;
    margin-bottom: 20px;
}

.container-header {
    @media screen {
        display: flex;
        max-height: 100vh;
    }
}
.container-header .cote_gauche {
    display: grid;
    place-content: center;
}
.btn-try {
    display: flex; gap: 1rem;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: var(--color-primary-2);
    border-radius: 100px;
    color: var(--color-neutral-100);
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

a {text-decoration: none;}

