@import "../style.css";

body {
    margin: 0;
    font-size: Arial;
    background-color: #032d68;
}

.ma_partie {
    width: 100%;
    display: flex;
}

.cote_droit {
    width: 50%;
}

.cote_gauche {
    width: 25%;
    padding: 20px;
}

.cote_droit {
    width: 50%;
}

.cote_droit img {
    width: 100%;
    margin-left: 257.5px;
}

.cote_gauche li {
    color: #cae5ff;
    font-family: sans-serif;
   font-size: 5.2px;
}

.contact {
    background-color: #36a8d9;
    text-align: center;
    color: white;
    padding: 25px;
    margin: -0.4%;
}

.contact h2 {
    font-family: sans-serif;
    font-size: 40px;
    margin: 0px;
}
.contact p {
     font-size: 18px;
     text-align: center;
     margin: 0;
}

footer {
    color: #cae5ff;
    font-family: sans-serif;
}
.bas_de_page{
display: grid;
grid-template-columns: repeat(3,1fr);
text-align: center;

}
.bas_de_page h3{
   text-align: center;
 margin-bottom:20px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0d3b66;
    min-height: 100vh;
}

.container-header {
    display: flex;
    height: 100vh;
}

.container-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-header-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 40px;
    background: #139fc9;
    border-radius: 100px;
    position: relative;
    right:80px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    font-family:sans-serif;
    cursor: pointer;
}


h1 {
    color: white;
    font-size: 3em;
    font-family:sans-serif;

}

p {
    color: white;
    font-size: 3em;
    font-family:sans-serif;
    text-align: start;

}

a {
    text-decoration: none;
}

