@import "../style.css";

body {
    margin: 0;
    padding: 0;
    color: var(--color-neutral-100);
    background-color: var(--color-secondary-1);
    min-height: 100vh;
}

.ma_partie {
    display: flex;
    min-height: 90vh;

    @media screen and (width <= 575px) {
        flex-direction: column;
    }

}

.cote_droit {
    flex: 1;
    position: relative;
    min-height: 300px;
}
.cote_droit img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    width: 100%; height: 100%;
}

.cote_gauche {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.cote_gauche ul {
    display: grid;
    row-gap: 1.5rem;
    margin: 4rem 4rem 4rem 1rem;
}


.contact {
    background-color: var(--color-primary-2);
    text-align: center;
    padding: 25px;
}

.contact h2 {
    font-size: 40px;
    margin: 0;
}
.contact p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.bas_de_page{
    margin-block: 2rem;
    margin-inline: 1rem;
    @media screen {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
    }
    @media screen and (width <= 575px ){
        display: flex;
        flex-direction: column;
    }

}
.bas_de_page h3 {
    text-align: center;
    margin-bottom: 20px;
}

.container-header {
    min-height: 90vh;
    display: flex;
    @media screen and (width <= 575px) {
        flex-direction: column-reverse;
    }
}
.container-header .cote_gauche {
    @media screen {justify-content: center;}
    @media screen and (width <= 768px) {justify-content: center;}
    & > div {margin: 3rem;}
}

.btn-try {
    display: flex; gap: 1rem;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: var(--color-primary-2);
    border-radius: 100px;
    color: var(--color-neutral-100);
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

a {text-decoration: none;}

