@import "../style.css";

body {
    margin: 0;
    padding: 0;
    color: var(--color-neutral-100);
    background-color: var(--color-secondary-1);
    min-height: 100vh;
}

.ma_partie {
    display: flex;
}

.cote_droit {
    flex: 1;
}

.cote_gauche {
    flex: 1;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    ul {line-height: 3rem; padding: 0;}
}

.cote_droit img {
    display: block;
    max-width: 100%;
}

.contact {
    background-color: var(--color-primary-2);
    text-align: center;
    padding: 25px;
}

.contact h2 {
    font-size: 40px;
    margin: 0;
}
.contact p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.bas_de_page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;

}
.bas_de_page h3 {
    text-align: center;
    margin-bottom: 20px;
}

.container-header {
    display: flex;
    max-height: 100vh;
}

.container-header-image {
    flex: 1;
    width: 100%;
    img {
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.container-header-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-header-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-2 {
    display: flex; gap: 1rem;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    background: var(--color-primary-2);
    border-radius: 100px;
    position: relative;
    right:80px;
    color: var(--color-neutral-100);
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

h1 {font-size: 3em;}

a {text-decoration: none;}

