@import "../style.css";

body {
    margin: 0;
    padding: 0;
    background-color: #0d3b66;
    min-height: 100vh;
}

.container-header {
    display: flex;
    height: 100vh;
}

.container-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-header-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 40px;
    background: #139fc9;
    border-radius: 100px;
    position: relative;
    right:80px;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    font-family:sans-serif;
    cursor: pointer;
}


h1 {
    color: white;
    font-size: 3em;
    font-family:sans-serif;

}

p {
    color: white;
    font-size: 3em;
    font-family:sans-serif;
    text-align: start;

}

a {
    text-decoration: none;
}

